.body {
  font-family: "苹方", "微软雅黑", Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgb(231, 231, 231);
}

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100px;
  border-style: solid;
  border-color: rgb(249, 249, 249);
  border-width: 1px;
  filter: grayscale(0.5);
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up {
  background: radial-gradient(
    ellipse at 50% 0,
    rgb(127, 96, 231),
    rgb(105, 44, 248)
  );
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.down {
  width: 400px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
}

.title {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 0;
}
.pa {
  color: rgb(218, 218, 218);
  margin-top: 10px;
}
.mesagec {
  display: flex;
  justify-content: left;
  margin-left: 0px;
}

.pa2 {
  margin-left: 0;
}
.icon1 {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 100px;
  border-style: solid;
  border-color: rgb(249, 249, 249);
  border-width: 1px;
  filter: grayscale(0.5);
  margin: 16px 10px;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  margin: 0 20px;
  font-size: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: rgb(235, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(123, 32, 221);
}
