@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1764273389482") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
  content: "\e777";
}

.icon-dianhua:before {
  content: "\e64d";
}

.icon-youxiang:before {
  content: "\e632";
}
