.back1 {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(217, 217, 218);
}
.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: blueviolet;
}
.container {
  display: flex;
}
