root {
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  text-align: center;
}
.title1 {
  font-size: 40px;
  margin-bottom: 0;
}
.title2 {
  font-size: 15px;
  color: rgb(106, 106, 106);
  margin-bottom: 40px;
}
.list {
  position: relative;
  padding-left: 0;
}
.list::after {
  position: absolute;
  content: "";
  left: 182px;
  top: -18px;
  width: 1px;
  height: 233px;
  background-color: #000000;
}

.list__item {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  position: relative;
}
.date {
  margin-right: 120px;
  color: #707070;
}
.description {
  margin-left: 20px;
}

.list__item::after {
  position: absolute;
  content: "";
  left: 177.325px;
  top: 9.4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
}
.main {
  border: 1px solid rgb(150, 150, 150);
  padding: 50px;
  margin: 100px;
}
.button {
  width: 200px;
  height: 30px;
  font-size: 10px;
  color: #f3f3f3;
  border: #f7f7f7;
  border-radius: 5px;
  background-color: #010101;
}
