img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  width: 500px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.img1 {
  grid-area: 1/1/3/1;
}
.img2 {
  grid-area: 1/2/2/2;
}
.img3 {
  grid-area: 1/3/3/3;
}
.img4 {
  grid-area: ;
}
.img5 {
  grid-area: 2/2/4/2;
}
.img6 {
  grid-area: ;
}
