.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(230, 230, 230);
}

.index {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;

  padding: 20px;

  background-color: white;
}

.tabs {
  display: flex;
}

.tab {
  margin-right: 20px;
  font-size: 20px;
  color: #dcdcdc;
}

.artical {
  margin-top: 20px;
}

.tab.active {
  color: black;
}
