.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.justify {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.tabs {
  display: flex;
}

.tab {
  margin-right: 40px;
  font-size: 25px;

  color: rgb(205, 205, 205);

  cursor: pointer;
}
.artical {
  display: none;
}

.select {
  color: black;
}

.show {
  display: block;
}
