body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(222, 222, 222);
}

.box {
  width: 100px;
  height: 100px;

  background-color: rgb(136, 52, 214);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
  color: rgb(235, 242, 248);

  border-style: dashed;
  border-color: rgb(0, 0, 0);
  border-width: 2px;

  padding: 10px;

  margin: 10px;
}
