.header {
  display: flex;
  align-items: center; /* 垂直居中对齐 */
}

.input {
  width: 450px;
  height: 40px;

  font-size: 20px;
  padding: 0px 10px;
  border-width: 1px;
  margin: 0;
  box-sizing: border-box;
}
.button {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  padding: 1px;
  margin: 0px;
  box-sizing: border-box;
  border-left: none;
}
.list {
  width: 490px;
  height: auto;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 4px;
}
.year {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.month {
  height: 20px;
}
.week {
  display: flex;
  align-items: baseline;
}
.we {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r {
  display: flex;
}
.item {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
}
