.input {
  box-sizing: border-box;
  width: 180px;
  height: 30px;
  border: 1px solid black;
}
.button {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0%;
  border-width: 1px;
  border-left: none;
  padding: 0;
}
.section1 {
  width: 210px;
  display: flex;
}
.section2 {
  width: 210px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
}
.section3 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}
.grid {
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  box-sizing: border-box;
}
.container {
  width: 210px;
}
