.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(208, 208, 208);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 20px;
  width: 200px;

  opacity: 0;
  visibility: hidden;

  /* --- 新增：过渡动画 --- */
  /* transition: 属性 时间 速度曲线 */
  /* 这里表示：opacity 和 visibility 的变化都要经历 0.5秒 */
  transition: all 0.5s ease;

  /* 我们可以顺便加个位移，让它有一种“浮上来”的感觉 */
  transform: translateY(20px);
}

.img.show {
  opacity: 1;
  visibility: visible;
}
