.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 100px;
  background-image: linear-gradient(
    to right,
    rgb(85, 165, 234),
    rgb(53, 83, 147)
  );
  color: rgb(247, 247, 247);
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paragraph {
  font-size: 20px;
  line-height: 0.5;
}
.zhongjianf {
  flex: 1;
  background-color: rgb(241, 241, 241);

  display: flex;
  justify-self: center;
}
.zhongjian {
  /* width: 90%; */

  background-color: rgb(241, 241, 241);

  display: flex;

  /* margin: 0 auto; */
  padding: 50px 0;
  /* justify-content: center; */
}
.aside {
  width: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 20px;
  margin-left: 200px;
}
.section {
  background-color: rgb(255, 255, 255);
  flex: 1;
  border-radius: 5px;
  padding: 20px;
  margin-right: 200px;
  margin-left: 20px;
}
.xiangmu {
  display: flex;
  flex-wrap: wrap;
}
.article {
  width: 250px;
  height: 150px;
  background-color: rgb(62, 169, 227);
  border-color: rgb(62, 169, 227);
  border-radius: 5px;
  margin: 10px;

  color: aliceblue;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.footer {
  height: 100px;
  background-color: rgb(14, 61, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
